@font-face {
  font-family: 'VulfSans';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/VulfSansDemo-Black.otf') format('opentype');
}

@font-face {
  font-family: 'VulfSans';
  font-style: italic;
  font-weight: 900;
  src: url('/fonts/VulfSansDemo-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'VulfSans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/VulfSansDemo-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'VulfSans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/VulfSansDemo-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'VulfSans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/VulfSansDemo-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'VulfSans';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/VulfSansDemo-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'VulfSans';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/VulfSansDemo-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'VulfSans';
  font-style: italic;
  font-weight: 300;
  src: url('/fonts/VulfSansDemo-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'VulfSans';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/VulfSansDemo-Light.otf') format('opentype');
}

@font-face {
  font-family: 'VulfSans';
  font-style: italic;
  font-weight: 100;
  src: url('/fonts/VulfSansDemo-LightItalic.otf') format('opentype');
}


