@import '~assets/vars.scss';
@import '~assets/fonts.scss';

html,
body {
  font-family: $font-family;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 1.5;
  color: $white;
  overflow-x:hidden;
  background-color: $base;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: inherit;
}
