@import './vars.scss';

html,
body {
  font-family: $font-family;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 150%;
  color: $base;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
