$font-size: 12px;
$max-width: 1100px;
$max-height: 550px;
$base: #1502FF;
$dark: darken($base, 20%);
$white: #e7e7e5;
$pink: #FE9189;
$cyan: #39EEFE;
$pale: #FFD9C1;
$red: darken($pink, 20%);
$padding: 30px;
$font-family: "VulfSans", sans-serif;
$small-breakpoint: 650px;
$slide-height: 450px + ($padding * 2);
$stretch-factor: 1.2;

@function selector($selector, $self) {
  @if $self {
    @return "&.#{$selector}";
  } @else {
    @return ".#{$selector} &";
  }
}

@mixin colour($self: false) {
  @content($base, $white);

  #{selector('primary', $self)} {
    @content($white, $base);
  }

  #{selector('accent', $self)} {
    @content($dark, $pink);
  }

  #{selector('bright', $self)} {
    @content($red, $pale);
  }
}

@mixin big {
  @media (min-width: $small-breakpoint + 1px) {
    @content;
  }
}

@mixin small {
  @media (max-width: $small-breakpoint) {
    @content;
  }
}

@mixin line($position: 'before') {
  &::#{$position} {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: $padding * 3;
    margin: 0 $padding/2;
    @include colour using ($col, $_) {
      background-color: $col;
    }
  }
}

@mixin dot($circle-size: 1em, $position: 'after') {
  &::#{$position} {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: $circle-size;
    width: $circle-size;
    border-radius: 50px;
    @include colour using ($col, $_) {
      background-color: $col;
    }

    @content($circle-size);
  }
}

@mixin text-stroke {
  @include colour() using ($bg, $text) {
    color: transparent;

    @supports (-webkit-text-stroke: 1px $bg) or (text-stroke: 1px $bg) {
      text-stroke: 1px $bg;
      -webkit-text-stroke: 1px $bg;

      @include small {
        text-stroke: 0.5px $bg;
        -webkit-text-stroke: 0.5px $bg;
      }
    }

    @supports not ((-webkit-text-stroke: 1px $bg) or (text-stroke: 1px $bg)) {
      text-shadow:
        -1px -1px 0 $bg,
         1px -1px 0 $bg,
         -1px 1px 0 $bg,
          1px 1px 0 $bg;
    }
  }
}

@mixin title($stroke: true, $shadow: false) {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;

  @if $stroke {
    @include text-stroke;
  }

  @if $shadow {
    text-shadow: 3px 3px 0 $cyan;
  }

  @include small {
    letter-spacing: 1px;
    font-size: 2rem;
  }
}

@mixin stretch($align: 'left') {
  transform: scaleX($stretch-factor);
  width: 100% / $stretch-factor;
  @if $align == 'left' {
    transform-origin: 0 50%;
  }
}

@mixin rise($delay: 0s, $stagger: 0.1s, $duration: 0.5s, $ease: 'ease-in-out') {
  .rise-enter-active,
  .rise-leave-active {
    transition: transform #{$duration} #{$ease};

    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        $transition-delay: $delay + ($i + $stagger);
        @debug $transition-delay;
        transition-delay: $transition-delay;
      }
    }
  }

  .rise-enter, .rise-leave-to {
    transform: translateY(100%);
  }

  .rise-enter-to, .rise-leave {
    transform: translateY(0);
  }
}

@mixin fluid-aspect($ratio: 1 1, $selector: "> :first-child", $margin: 0) {
	$selector: unquote($selector);

	padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
	position: relative;

	#{$selector} {
		left: $margin;
		right: $margin;
		position: absolute;
		top: $margin;
		bottom: $margin;
	}
}
