$max-width: 1000px;
$base: #1502FF;
$dark: darken($base, 20%);
$white: #e7e7e5;
$pink: #E576C6;
$padding: 30px;
$font-family: "VulfSans", sans-serif;
$small-breakpoint: 650px;
$slide-height: 450px + ($padding * 2);
$stretch-factor: 1.2;

@function selector($selector, $self) {
  @if $self {
    @return "&.#{$selector}";
  } @else {
    @return ".#{$selector} &";
  }
}

@mixin colour($self: false) {
  @content($base, $white);

  #{selector('primary', $self)} {
    @content($white, $base);
  }

  #{selector('accent', $self)} {
    @content($dark, $pink);
  }
}

@mixin big {
  @media (min-width: $small-breakpoint + 1px) {
    @content;
  }
}

@mixin small {
  @media (max-width: $small-breakpoint) {
    @content;
  }
}

@mixin line($position: 'before') {
  &::#{$position} {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: $padding * 3;
    margin: 0 $padding/2;
    @include colour using ($col, $_) {
      background-color: $col;
    }
  }
}

@mixin dot($circle-size: 1em, $position: 'after') {
  &::#{$position} {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: $circle-size;
    width: $circle-size;
    border-radius: 50px;
    @include colour using ($col, $_) {
      background-color: $col;
    }

    @content($circle-size);
  }
}

@mixin text-stroke {
  @include colour() using ($bg, $text) {
    color: transparent;

    @supports (-webkit-text-stroke: 1px $bg) or (text-stroke: 1px $bg) {
      text-stroke: 1px $bg;
      -webkit-text-stroke: 1px $bg;

      @include small {
        text-stroke: 0.5px $bg;
        -webkit-text-stroke: 0.5px $bg;
      }
    }

    @supports not ((-webkit-text-stroke: 1px $bg) or (text-stroke: 1px $bg)) {
      text-shadow:
        -1px -1px 0 $bg,
         1px -1px 0 $bg,
         -1px 1px 0 $bg,
          1px 1px 0 $bg;
    }
  }
}

@mixin title {
  font-weight: bold;
  font-size: 3rem;
  text-transform: uppercase;
  @include text-stroke;

  @include small {
    letter-spacing: 1px;
    font-size: 1.4rem;
  }
}

@mixin stretch($align: 'left') {
  transform: scaleX($stretch-factor);
  @if $align = 'left' {
    transform-origin: 0 50%;
  }
}

